.tag-list {
  display: inline;
  margin: 0 .5rem 0 0;
}

.tag-list-item {
  margin-right: 0.3rem;
  color: #7f7e7e;
}

.tag-list-item:hover {
  border-bottom: 1px dotted #7f7e7e;
}

.tag-list-item::before {
  content: "#";
}